.navbar-home .navbar-brand{
	font-size: 3rem;
	background-color: #7b3519; 
}

a {
    color: #fff;
}

.container-fluid-home {
    padding: 10px 15px;
    font-size: 2rem;
    background-color: #240f0f;
    height: 80px; 
}

.body-info{
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom:40px;
}

.btn-default {
    color: #fff;
    background-color: #62a8e4;
}

footer{
	background-color: #240f0f;
	color: white;
	height: 50px;
	padding: 1.5rem 0;
    margin-top: 50px;
}
